spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "/usr/bin/fcitx5 -d"
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "xrdb -merge /home/undefined/.Xresources"
//spawn-sh-at-startup "eval $(gnome-keyring-daemon --start --components=secrets,ssh)"

